<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../css/estilos.css">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


    <script
            src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous"></script>
    <script src="/js/generales.js"></script>


    <title>Detalle Mascota</title>
</head>

<body class="bg-light">
{{>navbar.hbs}}

    <div class="container d-flex flex-column justify-content-center shadow-lg">
        <div class="row bg-dark p-3">
            <div class="col-4"></div>
            <div class="col">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                        {{#each fotosMascota}}
                            <div class="carousel-item" id="foto_{{@index}}">
                                <img class="d-block w-100" src="../fotos/{{this}}" alt="foto de mascota">
                            </div>
                        {{/each}}
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    </a>
                </div>
            </div>
            <div class="col-4"></div>
        </div>
        <div class="container">
            <div class="row my-4">

                <div class="col-2">
                    <span class="badge  bg-primary fs-6 rounded-pill">{{mascota.sexo}} </span>
                </div>
                <div class="col-2">
                    <span class="badge  bg-primary fs-6 rounded-pill">{{mascota.tipoMascota}} </span>
                </div>
                {{#each caracteristicas}}
                <div class="col-2">
                        <span class="badge  bg-primary fs-6 rounded-pill">{{preguntaALaQuePertenece.descripcion}}
                            : {{valor}}</span>
                </div>
                {{/each}}
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h2 class="fw-bold">{{mascota.nombre}}</h2>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p class="text-50">{{mascota.descripcionFisica}}
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <table class="table table-striped table-borderless">
                    <thead>
                        <tr>
                            <th class="col-md-4">Comodidades</th>
                        </tr>
                      </thead>
                    <tbody>
                        {{#each comodidades}}
                      <tr>
                        <td>{{preguntaALaQuePertenece.descripcion}} ?</td>
                        <td>{{valor}}</td>
                      </tr>
                      {{/each}}
                    </tbody>
                  </table>  
            </div>
        </div>
        <div class="row align-self-center">

            <div class="col">
                <button class="btn btn-lg btn-primary text-secondary px-5 mb-4 rounded-pill" onclick="aprobarPublicacion('{{publicacionMascotaEnAdopcion.id}}')">Aprobar</button>
            </div>

            <div class="col">
                <button class="btn btn-lg btn-outline-danger px-5 mb-4 rounded-pill" onclick="desaprobarPublicacion('{{publicacionMascotaEnAdopcion.id}}')">Desaprobar</button>
            </div>

            <div class="col-1">
                <a class="btn btn-lg btn-primary text-secondary px-5 mb-4 rounded-pill" href="/publicaciones-voluntario"
                   role="button">volver</a>
            </div>

        </div>
    </div>
    <script src="libs/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../js/carrouselUtil.js"></script>
</body>

</html>