<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<style>
        .thumnail-border {
          border-width: 10px;
          border-radius: 80%;
        }
        .smaller-image {
          width: 1px;
        }
  </style>

   <script src="https://kit.fontawesome.com/27517fada0.js"></script>
      <link href="https://fonts.googleapis.com/css?family=Lexend+Deca&display=swap" rel="stylesheet">
      <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
      <script src="/js/generales.js"></script>

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="css/estilos.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

	<title>Caracteristicas</title>
</head>
<body>
<div class="container-fluid">
        <div class="row flex-nowrap">
            {{#if usuario}}
                <div class="col-2 bg-dark">
                    {{>menu.hbs}}
                </div>
            {{/if}}
            <div class="col-10 px-0">
                {{>navbar.hbs}}
                <div class="container">
                    <div class="row px-0 my-3 mx-5">

                        <div class="col-6">
                            <h3>Mis Mascotas</h3>
                        </div>

                        <div class="col-6">
                            <a href="/registrar-mascota" class="btn btn-primary rounded-pill">Registrar Mascota</a>
                        </div>
                    </div>
                    <div class="row">
                        <table class="table table-secondary">

                            <thead class="table-primary">
                            <tr>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th>Nombre</th>
                                <th>Tipo de Mascota</th>
                            </tr>
                            </thead>
                            <tbody>
                            {{#each mascotas}}
                                <tr>
                                    <th>
                                        <a href="/detalle-mascota/{{id}}" name="button" class=" btn btn-edit"><i class="bi bi-search px-2 text-primary"></i></a>
                                        <a href="/editar-mascota/{{id}}" name="button" class=" btn btn-edit"><i class="bi bi-pencil-fill px-2 text-warning"></i></a>
                                        <button type="button" class="btn" onclick="confirmarEliminacion('{{id}}')"><i class="bi bi-trash-fill px-2 text-danger"></i></button>
                                    </th>
                                    <th>
                                    <td>{{fotosUrl}}</td>
                                    </th>
                                    <td>{{nombre}}</td>
                                    <td>{{tipoMascota}}</td>
                                </tr>
                            {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
                <!--</div>-->
			</div>
		</div>
	</div>

	<!-- Option 1: Bootstrap Bundle with Popper -->
	<script src="libs/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>