<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="Revisarport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="css/estilos.css">

    <script
            src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous"></script>


    <title>Mascotas Encontradas</title>
</head>

<body>
{{>navbar.hbs}}
    <section>
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col">
                    <div class="card bg-secondary shadow-2-strong" style="border-radius: 1rem;">
                        <div class="mb-md-5 mt-md-4 pb-5">
                            <h2 class="fw-bold mb-2 text-center">Mascotas encontradas</h2>
                            <div class="container" style="border-radius: 1rem;">
                                <div class="m-5">

                                    <form class="row" action="/mascotas-encontradas" method="get">

                                        <div class="col-3">
                                            <select class="form-select form-select-sm mb-3" aria-label=".form-select-lg example" id="filtroTipoMascota" name="tipoMascota">
                                                <option value="" {{#if filtroTipo}}{{else}} selected {{/if}}>Tipo</option>
                                                <option value="GATO" {{&selected "GATO" filtroTipo}}>Gato</option>
                                                <option value="PERRO" {{&selected "PERRO" filtroTipo}}>Perro</option>
                                            </select>
                                        </div>

                                        <div class="col-3">
                                            <select class="form-select form-select-sm mb-3" aria-label=".form-select-lg example" id="filtroSexoMascota" name="sexoMascota">
                                                <option value="" {{#if filtroSexo}}{{else}} selected {{/if}}>Sexo</option>
                                                <option value="Hembra" {{&selected "Hembra" filtroSexo}}>Hembra</option>
                                                <option value="Macho" {{&selected "Macho" filtroSexo}}>Macho</option>
                                            </select>
                                        </div>

                                        <div class="col-3"></div>

                                        <div class="col-3">
                                            <input type="submit" name="" class="btn btn-primary rounded-pill text-secondary" style="float:right;" value="Aplicar filtros">
                                            <a href="/mascotas-encontradas" class="btn btn-danger rounded-pill" >Limpiar filtros</a>
                                        </div>

                                    </form>

                                    <div class="container">
                                        <div class="row row-cols-1 row-cols-md-3 g-2">
                                        {{#each publicacionesMascotaEncontradaSC}}
                                            <div class="col">
                                                <div class="card box-shadow">
                                                    {{#each mascotaEncontradaSinChapita.fotos}}
                                                        {{#if @first}}
                                                    <img class="card-img-top" alt="Thumbnail [100%x160]"
                                                        style="height: 160px; width: 100%; display: block;"
                                                        src="../fotos/{{this}}"
                                                        data-holder-rendered="true">
                                                        {{/if}} {{/each}}
                                                    <div class="card-body">
                                                        <h5 class="card-title">{{mascotaEncontradaSinChapita.tipoMascota}} Encontrado</h5>
                                                        <p class="card-text">{{mascotaEncontradaSinChapita.descripcionEstadoEncotrado}}</p>
                                                        <div class="d-flex justify-content-between align-items-center">
                                                            <div class="btn-group">
                                                                <a href="/detalle-mascota-encontrada/{{id}}">
                                                                <button type="button"
                                                                    class="btn btn-sm btn-primary rounded-pill px-2 text-secondary">Detalle</button></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            {{/each}}

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="libs/bootstrap/dist/js/bootstrap.min.js"></script>
</body>

</html>