<!DOCTYPE html>

<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/estilos.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
          integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
          crossorigin=""/>
    <script
            src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous"></script>
    <title>Mascota encntrada</title>
</head>

<body>
{{>navbar.hbs}}
<div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="card bg-secondary shadow-2-strong" style="border-radius: 1rem;">
                <div class="card-body p-5 text-center">
                    <div class="mb-md-5 mt-md-4 pb-5">
                        <h2 class="fw-bold mb-2">{{#if mascota}}Encontraste a {{mascota.apodo}}</h2>

                            <h5>Si queres contactar a su dueñoo para que se vuelvan a encontrar completa los siguientes
                                datos.</h5>
                        {{else}}Encontré una mascota
                            <h5>Para que pueda volver con su dueño, te solicitamos completar la informacion a
                                continuacion para generar una publicacion de mascota encontrada.</h5>
                        {{/if}}

                        <form action="/mascota-encontrada/{{mascota.id}}" enctype="multipart/form-data" method="POST">
                            <br>
                            <div class="row d-flex justify-content-left align-items-center h-100">
                                <div class="col-4 my-2 ">

                                    <input class="form-control-sm" type="file" name="formFileMultiple"
                                           id="formFileMultiple" multiple required
                                           accept=".jpg, .png, .jpeg, .gif, .bmp, .tif, .tiff|image/*"
                                    >
                                    <div id="imgTest" name="imgTest" class="form-group "></div>

                                </div>
                                <div class="form-group">
                                    <br>
                                    <h5 for="exampleFormControlTextarea1">Estado de la mascota encontrada</h5>
                                    <textarea name="descEncontrada" class="form-control" id="descEncontrada"
                                              rows="4"></textarea>
                                    <br>
                                </div>
                                <br>
                                <h5>Ubicación</h5>
                                <br>
                                <!--<img class="card-img-top" alt="Thumbnail [100%x160]"
                                     style="height: 160px; width: 100%; display: block;"
                                     src="https://d500.epimg.net/cincodias/imagenes/2017/05/05/lifestyle/1493972078_448475_1493972405_noticia_normal.jpg"
                                     data-holder-rendered="true">-->
                                <div id="myMap" style="height: 600px"></div>

                                <input class="d-none" name="latitud" id="latitud" type="text">

                                <input class="d-none" name="longitud" id="longitud" type="text">


                                <div class="col-4 my-2">
                                    <label for="eleccionTipoMascota" class="form-label">Tipo Mascota</label>
                                    <select class="form-select" aria-label="tipoMascota" id="tipoMascota"
                                            name="tipoMascota" required>
                                        <option selected>Seleccionar Tipo</option>
                                        <option value="GATO">GATO</option>
                                        <option value="PERRO">PERRO</option>
                                        {{#if mascota}}
                                            <option selected>{{mascota.tipoMascota}}</option>{{/if}}
                                    </select>
                                </div>

                                <div class="col-4 my-2">
                                    <label for="eleccionSexoMascota" class="form-label">Sexo Mascota</label>
                                    <select class="form-select" aria-label="sexoMascota" id="sexoMascota"
                                            name="sexoMascota" required>
                                        <option selected>Seleccionar Tipo</option>
                                        <option value="Macho">Macho</option>
                                        <option value="Hembra">Hembra</option>
                                        {{#if mascota}}
                                            <option selected>{{mascota.sexo}}</option>{{/if}}
                                    </select>
                                </div>

                                {{#if mascota}}
                                    <br>
                                    <label style="text-decoration-line: blink; margin-top: 20px">Descripcion de la
                                        mascota: </label>
                                    <textarea disabled>{{mascota.descripcionFisica}}</textarea>
                                {{/if}}
                                {{#unless mascota}}
                                    <h5>¿Desea buscar un hogar de transito para la mascota encontrada?</h5>
                                    <label>En caso de no contar con lugar para alojar a la mascota hasta encontrar a su
                                        dueño, se puede solicitar un hogar de transito. </label>
                                    <div class="form-group row my-1">
                                        <div class="col-7">
                                            <div class="form-check form-check-inline">
                                                <input name="solicitaTransito" id="checkbox_0" type="checkbox"
                                                       class="form-check-input" value="Solicitar hogar de transito">
                                                <label for="checkbox_0" class="form-check-label">Solicitar hogar de
                                                    transito</label>
                                            </div>
                                        </div>
                                    </div>
                                {{/unless}}

                                <button style="margin-top: 30px;" class="btn btn-primary rounded-pill btn-lg pull-right"
                                        type="submit">Enviar
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Make sure you put this AFTER Leaflet's CSS -->
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
        integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
        crossorigin=""></script>
<script src="../js/map.js"></script>
</body>
</html>


