<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/estilos.css">

    <script
            src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous"></script>

    <script>
        $(function () {
            $("#includedContent").load("../navBar.html");
        });
    </script>
    {{#if mascota}}
        <title>Editar Mascota</title>
    {{else}}
        <title>Registrar Mascota</title>
    {{/if}}
</head>
<body>
<div id="includedContent" class="container-fluid p-0"></div>
<div class="container bg-secondary my-5 shadow-lg">
    <div class="row">
        {{#if mascota}}
            <h1 class="h1 text-center">Editar Mascota</h1>
        {{else}}
            <h1 class="h1 text-center">Registrar Mascota</h1>
        {{/if}}
        <form class="" {{#if mascota}}
              action="/editar-mascota/{{mascota.id}}" method="post" {{else}}
              action="/registrar-mascota" method="post" {{/if}}  >
            <div class="row">

                <div class="col-4 my-2">
                    <label for="inputNombreMascota" class="form-label">Nombre</label>
                    <input type="text" class="form-control" id="inputNombreMascota" name="nombreMascota" {{#if mascota}}
                           value="{{mascota.nombre}}" {{/if}} required>
                </div>
                <div class="col-4 my-2">
                    <label for="eleccionTipoMascota" class="form-label">Tipo Mascota</label>
                    <select class="form-select" aria-label="tipoMascota" id="eleccionTipoMascota" name="tipoMascota"
                            required>
                        {{#if mascota}}
                            <option selected>{{mascota.tipoMascota}}</option>
                            <option value="GATO">GATO</option>
                            <option value="PERRO">PERRO</option>
                        {{else}}
                            <option>Seleccionar Tipo</option>
                            <option value="GATO">GATO</option>
                            <option value="PERRO">PERRO</option>
                        {{/if}}
                    </select>
                </div>
                <div class="col-4 my-2">
                    <label for="inputNombreMascota" class="form-label">Apodo</label>
                    <input type="text" class="form-control" id="inputApodo" name="apodoMascota" {{#if mascota}}
                           value="{{mascota.apodo}}" {{/if}} required>
                </div>
                <div class="col-4 my-2">
                    <div class="input-group">
                        <span class="input-group-text" name="descripcionFisica">Descripcion fisica</span>
                        <textarea class="text-input" aria-label="With textarea" name="descripcionFisica"> {{#if
                                mascota}} {{mascota.descripcionFisica}} {{/if}}</textarea>
                    </div>
                </div>
                <div class="col-4 my-2">
                    <label for="formFileMultiple" class="form-label">Fotos</label>
                    <input class="form-control" type="file" id="formFileMultiple" name="fotos" {{#if mascota}}
                           value="{{mascota.fotosUrl}}"{{/if}} multiple required>
                </div>
                <div class="col-4 my-2">
                    <label class="input-datos" name="fechaDeNacimiento">Fecha de nacimiento</label>
                    <div class="col-4 my-2">
                        <input type="date" name="fechaDeNacimiento" class="input-datos" name="fechaDeNacimiento" {{#if
                                mascota}} value="{{mascota.fechaNacimiento}}"{{/if}}>
                    </div>
                </div>
                <div class="col-4 my-2">
                    <label>Sexo
                        <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                            {{#if mascota}}
                                <input type="radio" class="btn-check" name="radiosSexo" id="radioD" autocomplete="off"
                                       value="">
                                <label class="btn btn-outline-primary" for="btnradioD" checked>{{mascota.sexo}}</label>
                            {{else}}
                                <input type="radio" class="btn-check" name="radiosSexo" id="radioM" autocomplete="off"
                                       value="Macho">
                                <label class="btn btn-outline-primary" for="radioM">Macho</label>
                                <input type="radio" class="btn-check" name="radiosSexo" id="radioH" autocomplete="off"
                                       value="Hembra">
                                <label class="btn btn-outline-primary" for="radioH">Hembra</label>
                            {{/if}}
                        </div>
                    </label>
                </div>
                {{#each caracteristicas }}
                    <div class="col-4 my-2">
                        <label>
                            {{descripcion}}
                            <select class="form-select" aria-label="Default select example"
                                    name="caracteristicaOrganiazcion">
                                <option selected>Seleccionar un valor</option>
                                {{#each valor}}
                                    <option value="{{this}}">{{this}}</option>
                                {{/each}}
                            </select>
                        </label>
                    </div>
                {{/each}}
                <div class="row justify-content-center d-flex">
                    {{#if mascota}}
                        <div class="col-2 my-2">
                            <input type="submit" name="" class="btn btn-primary rounded-pill text-secondary"
                                   style="float:right;" value="Editar">
                        </div>
                    {{else}}
                        <div class="col-2 my-2">
                            <input type="submit" name="" class="btn btn-primary rounded-pill text-secondary"
                                   style="float:right;" value="Agregar">
                        </div>
                    {{/if}}
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>
